
# Copyright (c) 2021 Scene Connect Ltd & Connected Energy Technologies Ltd.
# SPDX-License-Identifier: Apache-2.0

config FTP_READ_WAIT
    int "Wait time in milliseconds to FTP transfer a flash page."
    default 500
